.pink-bg{
    background: #FEEAE9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pricing{
    color: #FF1D75;
}
.button-design{
   
    background: #FF1D75;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cat1, .cat2, .cat3{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cat1 img,
.cat2 img,
.cat3 img{
    width: 100px;
}
.cat1 {
    background: #FFBE22;
}
.cat2 {
    background: #FF2E80;
}
.cat3 {
    background: #4034FA;
}
a{
     font-size: 20px;
     color: hotpink;
}
a:hover{
     text-decoration: none;
     color: hotpink;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px #eceb93;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#product{
    background: #F8F8F8;
}
.subscribeheight {
    height: 300px;
}
.input-group input{
    border: none;
    padding: 5px;
}
.button-design-subscribe{
    background: #FF1D75;
    color: #fff;
    border: none;
    padding: 8px 25px;
}
.card-footer{
    border: 0;
    background: none;
}

@media screen and (max-width:991px) {
    .cat2 img {
        width: 67px;
    }
}
@media screen and (max-width:767px) {
    .cat2 img {
        width: 100px;
    }
}
@media screen and (max-width:575px) {
    .cat1, .cat2, .cat3 {
        margin-top: 16px;
    }
}